.sidebar {
  background-color: var(--color-primary);
}

.custom-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.job-desc {
  font-size: 15px;
}
.small-text {
  font-size: 12px;
}
.nav-link-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}
.nav-link-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--color-secondary);
  transition: width 0.4s ease;
}
.nav-link-underline:hover::after {
  width: 100%;
}
.active-link {
  color: var(--color-secondary) !important;
}
